@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@font-face {
    font-family: 'lyzeroDEMO';
    src: url(lyzero-demo/LyzeroDEMO.ttf) format(truetype);

}

body {
    background-image: url('backroundrozana.png');
    background-repeat: no-repeat;
    background-size: cover; /* vagy 'contain', ha nem akarsz vágást */
    background-attachment: fixed;
    background-position: center;
}

.logo {
    max-width:2%;
    height: auto;  
}



.logo-container {
    display: flex;
    flex-wrap: wrap; 
    margin-left: 20px;
}

 
 
 .bestsellercontainer img {
     width: 80%;
     height: 80%;
     object-fit: contain;    /* kitölti a négyzetet, arányosan, vágással */
      display: block;
  }

  .szív {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;  /* vízszintesen középre */
    align-items: center; 
    border-radius: 40px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px;

  }

  .redheartring {
    max-width:80%; 
    max-height:80%;
    background-color: white;
    border-radius: 40px;
    padding: 30px;
  }

  #Rozanaszív {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 100px;
    margin: 0;
    display: flex;
    gap: 20px;                 /* távolság a képek között */
    flex-wrap: wrap;           /* ha kicsi a képernyő, sortörés engedélyezve */
  }

  .ringheadertext {
    font-size: 2rem;
  }

  .orderyourown {
    margin-bottom: 90px;
    margin-top: 70px;
    text-align: center;    
    
}

.ownorder {
    display: inline-block; 
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;  /* vízszintesen középre */
    align-items: center; 
    border: 4px solid;
    border-color: white;
    border-radius: 50px;
    padding: 10px 20px; 
    color: white;
     
}

.rights {
    color: white;
}

#navigationbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logofirst {
    letter-spacing: 1px;
    color: white;
}

.menu-toggle {
    cursor: pointer;
    width: 30px;
    margin-right: 50px;
  }
  
  .menu-toggle div {
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    z-index: 100;
  }
  
  .nav-links a {
    color: #000;
    text-decoration: none;
    padding: 8px 0;
    font-weight: bold;
  }
  
  .nav-links.show {
    display: flex;
  }